<!DOCTYPE html>
<html>
<head>
  <title>BarclampTest</title>
  <%= stylesheet_link_tag    "barclamp_test/application", :media => "all" %>
  <%= javascript_include_tag "barclamp_test/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
